<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmployeeCodeLabelName</key>
	<string>社員番号</string>
	<key>EmployeeNameLabelName</key>
	<string>氏名</string>
	<key>EmployeeMNLabelName</key>
	<string>マイナンバー</string>
	<key>MyNumberCharactersCount</key>
	<integer>12</integer>
	<key>RelationItems</key>
	<dict>
		<key>続柄を選択</key>
		<string>-1</string>
		<key>夫</key>
		<string>01</string>
		<key>妻</key>
		<string>02</string>
		<key>長男</key>
		<string>11</string>
		<key>次男</key>
		<string>12</string>
		<key>三男</key>
		<string>13</string>
		<key>四男</key>
		<string>14</string>
		<key>五男</key>
		<string>15</string>
		<key>六男</key>
		<string>16</string>
		<key>七男</key>
		<string>17</string>
		<key>八男</key>
		<string>18</string>
		<key>九男</key>
		<string>19</string>
		<key>長女</key>
		<string>21</string>
		<key>次女</key>
		<string>22</string>
		<key>三女</key>
		<string>23</string>
		<key>四女</key>
		<string>24</string>
		<key>五女</key>
		<string>25</string>
		<key>六女</key>
		<string>26</string>
		<key>七女</key>
		<string>27</string>
		<key>八女</key>
		<string>28</string>
		<key>九女</key>
		<string>29</string>
		<key>父</key>
		<string>31</string>
		<key>母</key>
		<string>32</string>
		<key>義父</key>
		<string>33</string>
		<key>義母</key>
		<string>34</string>
		<key>兄</key>
		<string>41</string>
		<key>弟</key>
		<string>42</string>
		<key>姉妹の配偶者</key>
		<string>43</string>
		<key>配偶者の兄弟</key>
		<string>44</string>
		<key>その他の兄弟</key>
		<string>45</string>
		<key>兄弟</key>
		<string>46</string>
		<key>姉</key>
		<string>51</string>
		<key>妹</key>
		<string>52</string>
		<key>兄弟の配偶者</key>
		<string>53</string>
		<key>配偶者の姉妹</key>
		<string>54</string>
		<key>その他の姉妹</key>
		<string>55</string>
		<key>姉妹</key>
		<string>56</string>
		<key>祖父</key>
		<string>61</string>
		<key>祖母</key>
		<string>62</string>
		<key>義祖父</key>
		<string>65</string>
		<key>義祖母</key>
		<string>66</string>
		<key>孫</key>
		<string>71</string>
		<key>おじ</key>
		<string>74</string>
		<key>おば</key>
		<string>75</string>
		<key>おい</key>
		<string>76</string>
		<key>めい</key>
		<string>77</string>
		<key>曽祖父母</key>
		<string>81</string>
		<key>養子（男）</key>
		<string>91</string>
		<key>養子（女）</key>
		<string>92</string>
		<key>子（女）の夫</key>
		<string>93</string>
		<key>子（男）の妻</key>
		<string>94</string>
		<key>その他の子（女）</key>
		<string>96</string>
		<key>その他</key>
		<string>97</string>
	</dict>
	<key>ButtonInTableViewFontType</key>
	<string>System</string>
	<key>ButtonInTableViewFontSize</key>
	<integer>17</integer>
</dict>
</plist>
