<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavigationTitles</key>
	<dict>
		<key>RegisteredListViewController</key>
		<string>登録者一覧</string>
		<key>RegisterEmployeeViewController</key>
		<string>新規登録</string>
		<key>EditEmployeeViewController</key>
		<string>登録者情報</string>
		<key>ChangePassCodeViewController</key>
		<string>暗証番号</string>
		<key>RegisterFamilyViewController</key>
		<string>家族を追加</string>
		<key>EditFamilyViewController</key>
		<string>家族情報を編集</string>
	</dict>
	<key>LabelItems</key>
	<dict>
		<key>EmployeeCode</key>
		<string>従業員番号</string>
		<key>EmployeeName</key>
		<string>氏名</string>
		<key>EmployeeJoinedDate</key>
		<string>入社年月日</string>
		<key>MyNumber</key>
		<string>マイナンバー</string>
		<key>PassCode</key>
		<string>暗証番号</string>
		<key>PassCodeBefore</key>
		<string>変更前暗証番号を入力</string>
		<key>PassCodeAfter</key>
		<string>変更後暗証番号を入力</string>
		<key>PassCodeReAfter</key>
		<string>変更後暗証番号の再入力</string>
		<key>ReEnter</key>
		<string>再入力</string>
		<key>NumberOfDigits</key>
		<string>桁</string>
		<key>Relation</key>
		<string>続柄</string>
		<key>FamilyName</key>
		<string>姓</string>
		<key>FirstName</key>
		<string>名</string>
	</dict>
	<key>ButtonTitles</key>
	<dict>
		<key>Register</key>
		<string>登録</string>
		<key>Modify</key>
		<string>変更</string>
		<key>AddNew</key>
		<string>追加</string>
		<key>Cancel</key>
		<string>キャンセル</string>
		<key>RegisterMyNumber</key>
		<string>マイナンバーを登録</string>
		<key>AddFamily</key>
		<string>家族を追加</string>
		<key>DeleteData</key>
		<string>データを削除</string>
		<key>DeleteMyNumber</key>
		<string>マイナンバーを削除</string>
	</dict>
	<key>SectionItems</key>
	<dict>
		<key>EditEmployee</key>
		<dict>
			<key>EmployeeInfo</key>
			<string>本人情報</string>
			<key>FamilyInfo</key>
			<string>家族情報</string>
			<key>SendInfo</key>
			<string>送信情報</string>
		</dict>
	</dict>
	<key>AlertMessages</key>
	<dict>
		<key>OK</key>
		<string>OK</string>
		<key>Cancel</key>
		<string>キャンセル</string>
		<key>InputPassCode</key>
		<dict>
			<key>Title</key>
			<string>暗証番号</string>
			<key>Message</key>
			<string>暗証番号を入力してください</string>
		</dict>
		<key>InputPassCodeError</key>
		<dict>
			<key>Title</key>
			<string>暗証番号入力エラー</string>
			<key>Message</key>
			<string>暗証番号が正しくありません。</string>
		</dict>
		<key>DeleteExclamation</key>
		<dict>
			<key>Title</key>
			<string>確認</string>
			<key>Message</key>
			<string>削除します。
よろしいですか？</string>
		</dict>
		<key>RequiredItemValidError</key>
		<dict>
			<key>Title</key>
			<string>必須項目入力エラー</string>
			<key>Message</key>
			<string>入力されていない項目があります。</string>
		</dict>
		<key>UploadNotCompleteError</key>
		<dict>
			<key>Title</key>
			<string>登録エラー</string>
			<key>Message</key>
			<string>登録できませんでした。
再度登録ボタンをタップしてください。</string>
		</dict>
		<key>NotRegisteredEmployeeCodeError</key>
		<dict>
			<key>Title</key>
			<string>この従業員番号は
使用できません</string>
			<key>Message</key>
			<string>この従業員番号は本アプリで使用可能な
従業員番号ではありません</string>
		</dict>
		<key>DoubleCheckError</key>
		<dict>
			<key>Title</key>
			<string>重複エラー</string>
			<key>Message</key>
			<string>すでに登録されています。</string>
		</dict>
		<key>EditEmployeeActionSheet</key>
		<dict>
			<key>Title</key>
			<string>メニューを選択してください</string>
			<key>Message</key>
			<string></string>
			<key>SendData</key>
			<dict>
				<key>Title</key>
				<string>データを送信</string>
			</dict>
		</dict>
		<key>SendOK</key>
		<dict>
			<key>Title</key>
			<string>送信完了</string>
			<key>Message</key>
			<string>送信しました</string>
		</dict>
		<key>SendError</key>
		<dict>
			<key>Title</key>
			<string>送信エラー</string>
		</dict>
	</dict>
	<key>RelationItems</key>
	<dict>
		<key>-1</key>
		<string>続柄を選択</string>
		<key>01</key>
		<string>夫</string>
		<key>02</key>
		<string>妻</string>
		<key>11</key>
		<string>長男</string>
		<key>12</key>
		<string>次男</string>
		<key>13</key>
		<string>三男</string>
		<key>14</key>
		<string>四男</string>
		<key>15</key>
		<string>五男</string>
		<key>16</key>
		<string>六男</string>
		<key>17</key>
		<string>七男</string>
		<key>19</key>
		<string>九男</string>
		<key>21</key>
		<string>長女</string>
		<key>22</key>
		<string>次女</string>
		<key>23</key>
		<string>三女</string>
		<key>24</key>
		<string>四女</string>
		<key>25</key>
		<string>五女</string>
		<key>26</key>
		<string>六女</string>
		<key>27</key>
		<string>七女</string>
		<key>28</key>
		<string>八女</string>
		<key>29</key>
		<string>九女</string>
		<key>31</key>
		<string>父</string>
		<key>32</key>
		<string>母</string>
		<key>33</key>
		<string>義父</string>
		<key>34</key>
		<string>義母</string>
		<key>41</key>
		<string>兄</string>
		<key>42</key>
		<string>弟</string>
		<key>43</key>
		<string>姉妹の配偶者</string>
		<key>44</key>
		<string>配偶者の兄弟</string>
		<key>45</key>
		<string>その他の兄弟</string>
		<key>46</key>
		<string>兄弟1</string>
		<key>47</key>
		<string>兄弟2</string>
		<key>48</key>
		<string>兄弟3</string>
		<key>49</key>
		<string>兄弟4</string>
		<key>51</key>
		<string>姉</string>
		<key>52</key>
		<string>妹</string>
		<key>53</key>
		<string>兄弟の配偶者</string>
		<key>54</key>
		<string>配偶者の姉妹</string>
		<key>55</key>
		<string>その他の姉妹</string>
		<key>56</key>
		<string>姉妹1</string>
		<key>57</key>
		<string>姉妹2</string>
		<key>58</key>
		<string>姉妹3</string>
		<key>59</key>
		<string>姉妹4</string>
		<key>61</key>
		<string>祖父1</string>
		<key>62</key>
		<string>祖母1</string>
		<key>63</key>
		<string>祖父2</string>
		<key>64</key>
		<string>祖母2</string>
		<key>65</key>
		<string>義祖父1</string>
		<key>66</key>
		<string>義祖母1</string>
		<key>67</key>
		<string>義祖父2</string>
		<key>68</key>
		<string>義祖母2</string>
		<key>71</key>
		<string>孫1</string>
		<key>72</key>
		<string>孫2</string>
		<key>73</key>
		<string>孫3</string>
		<key>74</key>
		<string>おじ</string>
		<key>75</key>
		<string>おば</string>
		<key>76</key>
		<string>おい</string>
		<key>77</key>
		<string>めい</string>
		<key>78</key>
		<string>孫4</string>
		<key>79</key>
		<string>孫5</string>
		<key>81</key>
		<string>曽祖父母1</string>
		<key>82</key>
		<string>曽祖父母2</string>
		<key>83</key>
		<string>曽祖父母3</string>
		<key>84</key>
		<string>曽祖父母4</string>
		<key>85</key>
		<string>曽祖父母5</string>
		<key>86</key>
		<string>曽祖父母6</string>
		<key>87</key>
		<string>曽祖父母7</string>
		<key>88</key>
		<string>曽祖父母8</string>
		<key>89</key>
		<string>曽祖父母9</string>
		<key>91</key>
		<string>養子（男）</string>
		<key>92</key>
		<string>養子（女）</string>
		<key>93</key>
		<string>子（女）の夫</string>
		<key>94</key>
		<string>子（男）の妻</string>
		<key>96</key>
		<string>その他の子（女）</string>
		<key>97</key>
		<string>その他1</string>
		<key>98</key>
		<string>その他2</string>
	</dict>
	<key>EmployeeCodeCharactersCount</key>
	<integer>7</integer>
	<key>EmployeeNameCharactersCount</key>
	<integer>10</integer>
	<key>MyNumberCharactersCount</key>
	<integer>12</integer>
	<key>PassCodeCharactersCount</key>
	<integer>4</integer>
	<key>ButtonInTableViewFontType</key>
	<string>System</string>
	<key>ButtonInTableViewFontSize</key>
	<integer>17</integer>
	<key>AppDefaultFontSize</key>
	<integer>17</integer>
	<key>TableViewCellDefaultHeight</key>
	<integer>44</integer>
	<key>PickerLabelFontSize</key>
	<integer>20</integer>
	<key>ServerInfo</key>
	<dict>
		<key>IPAddress</key>
		<string>10.1.4.48</string>
		<key>UserName</key>
		<string>MNAdmin</string>
		<key>Password</key>
		<string>6wtBs+aP</string>
		<key>DataBaseName</key>
		<string>YukoMN</string>
	</dict>
	<key>PingCheckCounter</key>
	<integer>20</integer>
	<key>DateFormatStringJapanese</key>
	<string>yyyy年MM月dd日</string>
	<key>DateFormatStringSeparetedJapanese</key>
	<string>yyyy年 MM月 dd日</string>
	<key>JoinedDateLabelTapComment</key>
	<string>タップして選択</string>
	<key>LocaleIdentifier</key>
	<string>Japanese</string>
	<key>DeleteMonthSpan</key>
	<integer>1</integer>
	<key>ToolBarFixedSpaceSize</key>
	<integer>27</integer>
</dict>
</plist>
